# Introduction

## Example future value

In [7]:
pv = 100
r = 0.1
n = 7
fv = pv * (1 + r) ** n
print(round(fv, 2))

194.87

In [8]:
amount = 100
interest = 10 # 0.01 * 10
years = 7
future_value = amount * (1 + interest / 100) ** years
print(round(future_value, 2))

194.87

### Python Function

In [9]:
#Function
def future_value(pv, r, n):
    fv = pv * (1+r)**n
    return round(fv, 2)

### Python if else

In [10]:
#Python if else
score=80
if score >=60: print("Pass")
else: print("Fail")

Pass

# Python Programming

## Python Hello World

In [11]:
print("Hello World")

Hello World

## Python Syntax

### Indentation the spaces at the beginning of a code line 4 spaces

In [12]:
score = 80
if score >=60 :
    print("Pass")

Pass

## Python Variables

In [13]:
x = 2
price = 2.5
word = 'Hello'
word = 'Hello'
word = "Hello"
word = '''Hello'''
x = 2
y = x + 1

## Python version

In [14]:
from platform import python_version
print(python_version())

3.11.9

## Python Data Types

In [17]:
x = "Hello World" #str 
x = 2 #int 
x = 2.5 #float
x = 7j #complex

In [18]:
x = ["apple", "banana", "cherry"] #list 
x = ("apple", "banana", "cherry") #tuple 
x = range(6) #range 
x = {"name": "Tom", "age": 20} #dict
x = {"apple", "banana", "cherry"} #set 
x = frozenset({"apple", "banana", "cherry"}) #frozenset
x = True #bool 
x = b"Hello" #bytes 
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

## Python casting

In [19]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print (x, type(x))
print (y, type(y))
print (z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [20]:
x = 2# int
y = 3.4# float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

## Python Basic Operators

In [ ]:
print('7 + 2 =', 7+ 2) # Addition
print('7 - 2 =', 7-2) # Subtraction
print('7 * 2 =', 7* 2)  # Multiplication
print('7 / 2 =', 7/ 2)  # Division
print('7 // 2 =', 7// 2) # Floor Division
print('7 % 2 =', 7% 2) # Modulus
print('7 ** 2 =', 7** 2) # Exponentiation

7 + 2 = 9
7 -2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

## Python Booleans:  True or False

In [22]:
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

## Python BMI Calculator

In [23]:
# BMI Calculator in Python
height_cm= 170
weight_kg= 60
height_m= height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

## Python Data Structures

In [24]:
x = ["apple", "banana", "cherry"] #list 
x = ("apple", "banana", "cherry") #tuple 
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set

**Note**:
1. List là danh sách có thứ tự, cho phép thay đổi giá trị phần tử, cho phép các phần tử giống nhau và có thể truy cập theo index.  
2. Tuple là danh sách có thứ tự, bất biến, cho phép các phần tử giống nhau và có thể truy cập theo index.  
3. Dict là từ điển (key-value), cho phép thay đổi giá trị phần tử, các phần tử không được phép giống nhau và có index.  
4. Set là tập hợp không thứ tự, có thể thêm/xóa phần tử, phần tử khác nhau và không index.  
5. Frozenset là tập hợp không thứ tự, bất biến, phần tử khác nhau và không index.

### List[]

In [25]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[-2])

4
60
70
90
80

**Hàm len()**  
- Chức năng: Trả về số lượng phần tử (độ dài) trong một đối tượng (như danh sách, tuple, set, từ điển, hoặc chuỗi).
- Cú pháp: len(đối_tượng)  

**Hàm type()**
- Chức năng: Trả về kiểu dữ liệu của đối tượng được truyền vào. Đây là một công cụ hữu ích để kiểm tra và gỡ lỗi.
- Cú pháp: type(đối_tượng)  

**Hàm tạo list()**
- Chức năng: Là một constructor (hàm tạo) để tạo một đối tượng danh sách (list) mới. Nó có thể chuyển đổi các kiểu dữ liệu có thể lặp lại (như tuple, set, chuỗi, từ điển) thành một list.
- Cú pháp: list((các_phần_tử)) hoặc list(đối_tượng_có_thể_lặp)
*Lưu ý*: Khi tạo list từ một đối tượng khác, bạn chỉ cần truyền đối tượng đó vào.

# Các Phương Thức Của Danh Sách (List) trong Python

| Phương Thức | Mô Tả |
| :---------- | :---- |
| **append()** | Thêm một phần tử vào **cuối** danh sách |
| **clear()** | Xóa **tất cả** các phần tử khỏi danh sách |
| **copy()** | Trả về một **bản sao** của danh sách |
| **count()** | Trả về **số lần xuất hiện** của một giá trị được chỉ định |
| **extend()** | Thêm các phần tử của một danh sách (hoặc iterable) vào **cuối** danh sách hiện tại |
| **index()** | Trả về **chỉ số** của phần tử **đầu tiên** có giá trị được chỉ định |
| **insert()** | Thêm một phần tử vào **vị trí được chỉ định** |
| **pop()** | Xóa phần tử tại **vị trí được chỉ định** (mặc định là phần tử cuối cùng) |
| **remove()** | Xóa phần tử **đầu tiên** có **giá trị được chỉ định** |
| **reverse()** | **Đảo ngược** thứ tự các phần tử trong danh sách |
| **sort()** | **Sắp xếp** danh sách |

### Tuples ()

In [2]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])
print(x[-2])

10
20
30
50
40

### Sets {}

In [3]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

### Dictionary {key : value}
Python Dictionary
Key → Value
'EN’ → 'English’
'FR’ → 'French'

In [5]:
k = { 'EN':'English', 'FR':'French' }
print(k['EN'])

English

In [6]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

### Python for Finance Applications

In [7]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [9]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [10]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

### Summary

Python Data Structures  
- Python Lists [] 
- Python Tuples () 
- Python Sets {} 
- Python Dictionaries {k:v}

## Python Control Logic and Loops
Python if else
- if elif else
- Booleans: True, False
- Operators: ==, !=, >, <, >=, <=, and, or, not

Python for Loops
- for

Python while Loops
- while
- break
- continue

### Python if...else
Python if...else

- if elif else
- Booleans: True, False
- Operators: ==, !=, >, <, >=, <=, and, or, not

### Python supports the usual logical conditions from mathematics:
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= bPython Conditions and If statements

### Python Comparison Operators
| Operator | Name | Example |
|---|---|---|
| == | Equal | x == y |
| != | Not equal | x != y |
| > | Greater than | x > y |
| < | Less than | x < y |
| >= | Greater than or equal to | x >= y |
| <= | Less than or equal to | x <= y |

### Python Logical Operators

| Operator | Description | Example |
|---|---|---|
| and | Returns True if both statements are true | x < 5 and x < 10 |
| or | Returns True if one of the statements is true | x < 5 or x < 4 |
| not | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |

### Python if

In [11]:
# Python if
score = 80
if score >=60 :
    print("Pass")

Pass

### Python if else

In [12]:
# Python if else
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

### Python if elif else

In [13]:
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [14]:
# Python if elif else
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

### Python for Loops

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [16]:
# for loops
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

### Python while Loops
while

- break
- continue

In [17]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

### Summary
**Python if else**

- if elif else
- Booleans: True, False
- Operators: ==, !=, >, <, >=, <=, and, or, not

**Python for Loops**
- for

**Python while Loops**

- while
- break
- continue

## Python Functions

- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.
- Creating a Function
- In Python a function is defined using the def keyword:

### Python Function def

In [18]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## Future value of a specified principal amount, rate of interest, and a number of years

### How much is your $100 worth after 7 years?

In [19]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [20]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [21]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [22]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):

    fv = pv * ((1 + (r)) ** n)
    return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## Python Classes/Objects class MyClass:

### Python Classes/Objects
Python is an object oriented programming language.

- Almost everything in Python is an object, with its properties and methods.
- A Class is like an object constructor, or a "blueprint" for creating objects.
- Create a Class:
- To create a class, use the keyword class:

**class MyClass:**

In [23]:
# Python class
class MyClass:
    x = 5

c1 = MyClass()
print(c1.x)

5

In [24]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

*self tương tự với this, có thể đổi self thành tên khác nhưng khai báo đầu tiên mặc định chức năng như self*

In [26]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):

        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [27]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):

        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [28]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):

        desc_str = "%s is a %s %s worth $%.2f." %(self.name, self.color, self.kind, self.value)

        return desc_str
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

## Python modules
- Consider a module to be the same as a code library.
- A file containing a set of functions you want to include in your application.
- Create a Module
- To create a module just save the code you want in a file with the file extension .py:
- Use a Module
- import module

In [3]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan

### Python main() function

In [1]:
#Python main() function
def main():

    print("Hello World!")

if __name__ == "__main__":

    main()

Hello World!

Python Functions 

- def myfunction():
Python Classes/Objects

- class Myclass

# KẾT THÚC